---
Checks:           '*,-hicpp-avoid-c-arrays,-cppcoreguidelines-avoid-c-arrays,-modernize-avoid-c-arrays,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-hicpp-no-array-decay,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-llvm-namespace-comment,-google-readability-namespace-comments,-modernize-use-trailing-return-type,-fuchsia-default-arguments-calls,-llvm-qualified-auto,-readability-qualified-auto'
